.main {
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.navbar span {
    padding: 0 7px;
}


.im1 {
    width: 100%;
    height: 25vh;
    object-fit: contain;
}


.im2 {
    width: 100vw;
    height: 45vh;
    object-fit: contain;
}

.carousel-image{
    max-height: 30vh;
    object-fit: contain;
}



