{% extends 'store/base.html' %}
{% block content %}

    {% if products %}
        <section class="p-5 container">
            <div class="container py-5">
                <h1>Cart<span class="fa-solid fa-cart-shopping p-2"></span></h1>
            </div>
            <div class="row">
                {% for prod in products %}
                    <div class="mx-auto card col-lg-2 col-md-4 col-7 p-1 mb-4 py-3">
                        <a href="/product/{{ prod.product.id }}" style="text-decoration: none; color: grey">
                            <img src="{{ prod.product.main_image.url }}" class="card-img-top im1" alt="...">

                            <div class="card-body">
                                <h5 class="card-title">{{ prod.product.title }}</h5>
                                <p class="card-text" style="text-align: center">{{ prod.product.price }} $</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% elif request.user.username %}
         <div class="container">
            <h3 style="text-align: center" class="py-5">There are no items yet</h3>
        </div>
    {% else %}
        <div class="container">
            <h3 style="text-align: center" class="py-5">You have to <a href="{% url 'register' %}">login</a> first</h3>
        </div>
    {% endif %}
{% endblock %}